<div id="toolbar" class="flex flex-row justify-between items-top p-5">
  <div id="video-tools" class="flex flex-col ml-10">
    <button id="video-button" class="rounded bg-gray-300 px-2 py-1 text-sm shadow-sm">
    Video <span id="video-status"> Off</span>
  </button>
  <select id="video-input" class="rounded text-xs"><option>---</option></select>
  </div>
  <div id="audio-tools " class="flex flex-col ml-10">
    <button id="audio-button" class="rounded bg-gray-300 px-2 py-1 text-sm shadow-sm">
    <span id="audio-status">Muted</span>
  </button>   
  <select id="audio-input" class="rounded text-xs"><option>---</option></select>
  <select id="audio-output" class="rounded text-xs"><option>---</option></select>

  </div>
  <div class="flex flex-col ml-10">
    <button id="leave-button" class="rounded bg-gray-300 px-2 py-1 text-sm shadow-sm">
      Leave Meeting
    </button>
  </div>
</div>
